*{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* Global classes */
.icon{
	width: 50px;
	height: 50px;
}
.icon img{
	width: 100%;
}

/* other clases */
.hello h2{
	font-size: 70px;
	line-height: 90px;
	color: #ffffff;
	margin-bottom: 16px;
	font-weight: bold;
}
.hello_btns{
	width: 50%;
}


@media screen and (max-width: 768px){
	/* responsive in hello section */
	.par{
		font-size: 20px;
	}
	.hero-section{
		height:400px;
		width:100%;
	} 
	.hello{
		color: red;
		font-size: 10px;
	}
	.hello h2{
		font-size: 50px;
		padding-top: 20%;
		line-height: 50px;
	}
	.hello_btns{
		width: 100%;
	}
	.hello_btns a{
		padding: 12px 20px;
	}
}

/* about section */

.sect2-title{
	width: 90%;
	text-align: center;
	margin: 30px auto;
}

/* benefit part */
.benef-img{
	width: 50%;
	height: 350px;
	margin: 10px 20;
	background: url("../../front/img/aff2-small.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.benef-img img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.benef-list{
	padding: 0 50px;
}
.benef-list .sections-tabs-navs{
	margin-top: -50px;
}

/* about-page-text */
.about-page-text .head{
	text-align: center;
}
@media screen and (max-width: 991px){
	.head-logo{
		display: none;
	}
}
@media screen and (max-width: 768px){
	/* responsive in home about section */
	
	.sect2-title{
		margin-top: 20px;
		margin-bottom: 0;
	}
	.benef-part, .homeAbout{
		flex-direction: column;
	}
	.benef-img {
		width: 95%;
	}
	.benef-list .sections-tabs-navs{
		margin: 20px 0;
	}
	.benef-list .sections-tabs-navs.two{
		margin-top: -70px;
	}
	.well{
		margin-top: -50px;
	}

	.menu-item{
		top: 50px;
	}
}

.box{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.club{
	width: 50%;
	margin: auto;
	background-color: #000050;
}

.feat{
	margin-bottom: -30px;
}
.well4{
	border-radius: 20px;
}
.bord{
	border: 2px solid  red;
}

/* logo && navbar*/
.menu-item{
	position: relative;
}
.head-logo{
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translateY(-50%);
	padding: 0;
}
.head-logo img{
	width: 70px;
	height: 70px;
}
.head-logo a{
	font-size: 20px;
	font-family: monospace;
}


/* head navigation */
.top-nav .tn-left a {
	font-size: 16px;
}

.side-logo img{
	width: 50px;
	height: 50px;
}
.side-logo a{
	color: #000050;
	font-size: 14px;
	font-family: monospace;
}